@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* https://coolors.co/7d2e68-82aeb1-08415c-34623f-9e8fb2 */
/* https: //coolors.co/7d2e68-a3bbad-08415c-65532f-312509 */


#lastupdated {
  color: yellow;

}

body {
  background-color: #82AEB1;
  margin: 0 auto;
  max-width: max-content;
  height: 100vh;
  display: flex;


}

header,
footer {
  background-color: #08415C;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

img {
  width: 250px;
  height: auto;
  border-radius: 10px;

  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
  margin: auto;
}

html {
  font-family: 'Poppins', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: left;
  font-size: 3.5rem;
  padding: 10px;
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 90vw;

  gap: 10px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.link {
  color: #312509;
  
}

.byu-link {
  color: whitesmoke;
}

header {
  grid-row: 1 / span 3;
  grid-column: 1 / span 12;
}

picture {
  grid-row: 1 / span 12;
  grid-column: 11 / auto;
}

main {
  grid-row: 4 / span 7;
  grid-column: 2 / span 7;

  padding-left: 10px;
}

footer {
  grid-row: 12 / span 1;
  grid-column: 1 / span 12;
}

@media (max-width: 760px) {
  .grid-container {
    display: block;
  }

  header {
    display: block;
  }

  main {
    text-align: left;
  }

  footer {
    line-height: normal;
  }

  picture {
    width: 45px;
  }
}


@media screen and (max-width: 550px) {

  picture {
    align-items: center;
  }
}