body {
  min-width: 26em;
  margin: 0 auto;
  background-color: whitesmoke;
  color: #0d1821;
  width: 100vh;
  font-size: 1.1em;
  font-family: 'Yaldevi', sans-serif;

}

main div.grid {
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 1fr;
}

picture {
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 8px;
  justify-self: center;
}

picture img {
  width: 100%;
}

header,
footer {
  background-color: #344966;
  color: #b4cded;
  display: flex;

}

header {
  padding: 15px;
  justify-content: center;
}

header img {
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 85px;
}

header section {
  display: flex;
  flex-direction: column;
}

header section p {
  align-self: center;
  margin: 5px;
}

h1,
h2,
  {
  color: #344966;
  font-family: 'Montserrat', sans-serif;
}

section h1 {
  color: #b4cded;
  margin: 0;
  align-self: center;
}

h2 {
  text-align: center;
  padding: 15px;
  margin: 5px;
}

nav {
  background-color: #0d1821;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #b4cded;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation a:hover {
  background-color: #f0f4ef;
  color: #0d1821;
  font-size: 1.25rem;
  font-weight: bold;
}

.responsive li {
  display: block;
}

/* ----------------MAIN------------- */

main {
  max-width: 1200px;
  margin: 0 auto;

}

/* -------------FOOTER--------------- */

footer {
  justify-content: space-around;
  clear: both;
}

footer img {
  background-color: #bfcc94;
  margin: 5px;
  border-radius: 5px;
}

footer div.cry-media {
  margin-left: 15px;
  padding: 5px;
  flex-flow: column;
}

footer div.vcard a {
  color: #b4cded;
}

footer div.vcard a:hover {
  color: #bfcc94;
}