@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yaldevi&display=swap');

/* https: //coolors.co/0d1821-344966-b4cded-f0f4ef-bfcc94 */

body {
  min-width: 26em;
  margin: 0 auto;
  background-color: #bfcc94;
  color: #0d1821;
  height: 100vh;
  width: 100vw;
  font-size: 1.1em;
  font-family: 'Yaldevi', sans-serif;
}

header,
footer {
  background-color: #344966;
  color: #b4cded;
  display: flex;
  justify-content: center;
  padding: 20px;
}

header {
  padding: 15px;
}

header img {
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 85px;
}

section {
  display: flex;
  flex-direction: column;
}

section p {
  align-self: center;
  margin: 0;
}

footer {
  flex-flow: column;
  align-items: center;
}

footer p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #344966;
  font-family: 'Montserrat', sans-serif;
}

section h1 {
  color: #b4cded;
  margin: 0;
  align-self: center;
}

h2 {
  text-align: center;
  padding: 15px;
  margin: 5px;
}

nav {
  background-color: #0d1821;
  margin: -18px auto;
}

.navigation {
  list-style: none;
  padding: 0;

}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: #b4cded;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.navigation a:hover {
  background-color: #f0f4ef;
  color: #0d1821;
  font-size: 1.25rem;
  font-weight: bold;
}

.responsive li {
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container p {
  padding: 15px;
  margin: 5px;
  background-color: whitesmoke;
}