@media only screen and (min-width: 60em) {

  /* ---------- cards ---------- */

  div.container {
    max-width: 900px;
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 10px;
    gap: 10px 10px;


  }

  div.card {
    display: inline;
    width: 300px;
    height: 100%;
  
  }

  div.card img {
    height:auto;
    max-width: 100%;
    
  }

  div.card:nth-child(odd) {
    direction: ltr;
  }
}