/* ---------- gallery images ---------- */

main {
  max-width: 960px;
  margin: 0 auto;
}

main div.grid {
  display: grid;
  align-items: center;
  justify-content: center;

  grid-gap: 10px;
  grid-template-columns: 1fr;
  padding-bottom: 15px;
}

figure {
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 8px;
  justify-self: center;

}

figure img {
  width: 100%;
  filter: blur(0px);
  transition: filter 0.75s;
}

figure:hover {
box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
rgba(240, 46, 170, 0.3) 10px 10px,
rgba(240, 46, 170, 0.2) 15px 15px,
rgba(240, 46, 170, 0.1) 20px 20px,
rgba(240, 46, 170, 0.05) 25px 25px;
}