/* -----:valid examples from MDN----- */
input+span {
  position: relative;
}

input+span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid+span::before {
  content: '✖';
  color: red;
}

input:valid+span::before {
  content: '✓';
  color: green;
}


/* -----:invalid examples from MDN----- */
label {
  display: block;
  margin: 1px;
  padding: 1px;
}

.field {
  margin: 1px;
  padding: 1px;
}

input:invalid {
  background-color: #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

form:valid {
  border: 5px solid #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #c00000;
}



/* ----- formatting page look ---- */

.form {
  background-color: rgb(109, 181, 240);
  padding: 15px;
}

label {
  color: rgb(28, 17, 122);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(28, 17, 122);
}

body {
  background-color: rgb(206, 235, 206);
}