@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Spectral:wght@300&display=swap');

root {
  /* background-color: #E6EBE0; */
}

header {
  background-color: #E6EBE0;
}

nav {
  background-color: #F4F1BB;
}

footer, footer a {
  background-color: #5D576B;
  color: #F4F1BB;
}