@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Spectral:wght@300&display=swap');

root {
  background-color: #E6EBE0;
  font-family: 'Spectral', serif;
  margin: 0 auto;
}

/* ---------- nav ---------- */


header {
  background-color: #F4F1BB;
  font-family: 'Karla', sans-serif;
}


/* ---------- nav ---------- */


nav {
  
}

/* ---------- hero img ---------- */

.hero-container {
  margin: 10px auto;
  position: relative;
  max-width: 960px;
}


main div picture.hero {
  display: block;
  width: 96%;
  margin: 0 2%;
}

main div picture.hero img {
  width: 100%;
  padding-bottom: 15px;
}



/* ---------- footer ---------- */

footer,
footer a {
  background-color: #5D576B;
  color: #F4F1BB;
}

footer {
  padding: 15px;
}