@media only screen and (min-width: 37.5em) {


  nav ul {
    display: flex;
    justify-content: space-around;
  }

  img {
    max-width: 380px;

  }

  main {
    grid-template-rows: 1fr 1fr;
  }

  h2 {
    text-align: left;
  }

  header,
  footer {
    padding: 20px;
  }

  nav>ul>li {
    width: 25%;
    height: 100%;
    /* float: left; */

  }

  .head-grid-container {

    grid-template-columns: 1fr 2fr;
    grid-template-rows: none;
  }

  .main-grid-container {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;


  }

  .typo-grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;

  }

  .typo-grid-container {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;


  }



}