@media only screen and (min-width: 37.5em) {

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation li:first-child {
    display: none;
  }

  img {
    max-width: 380px;
  }

  main {
    grid-template-rows: 1fr 1fr;
  }

  h2 {
    text-align: left;
  }

  .main-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .typo-grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
  }

  .typo-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }



}