/* ---------- gallery images ---------- */

main {
  max-width: 1200px;
  margin: 0 auto;
}

main div.grid {
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 1fr;
}

figure {
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 8px;
  justify-self: center;
}

figure img {
  width: 100%;
  filter: blur(0px);
  transition: filter 0.75s;
}
