@media only screen and (min-width: 32.5em) {

 /* ---------- weather summary ---------- */

  .weathersummary {
    margin: 5px;
    background: linear-gradient(#b4cded, #bfcc94);
    opacity: 70%;
    padding: 10px;
    box-shadow: 0 0 30px rgb(52, 126, 116);
    max-width: fit-content;
    top: 20px;
    left: 25px;
    position: absolute;
  }

  /* ---------- forecast ---------- */
  
  .forecast {
    display: flex;
  }

  .forecast-day {
    max-width: 640px;
    margin: 0 auto;

  }
  
}